@model IEnumerable<BebachModel.Aktivnost>

@{
    ViewBag.Title = "Aktivnosti";
}

<h2>Pregled aktivnosti</h2>
@*<div>
    <table id="grid"></table>
    <div id="pager"></div>
    
</div>*@
@{ 
    var bebaID = ViewBag.BebaID;
    var sortOrder = ViewBag.DateSortParm != null ? ViewBag.DateSortParm : string.Empty;
    var datOd = ViewBag.datOd != null ? (DateTime)ViewBag.datOd : DateTime.Now.AddMonths(-1);
    var datDo = ViewBag.datDo != null ? (DateTime)ViewBag.datDo : DateTime.Now.AddMonths(1);
}
@using (Html.BeginForm("Search", "Aktivnost",  new { bebaID = bebaID,  datOd = datOd, datDo = datDo }, FormMethod.Post))
{
    <div class="form-group" style="position: relative">
        Traženje po datumu od: @Html.TextBox("datOd", datOd, new { @class= "DatePicker"}) do @Html.TextBox("datDo",datDo, new { @class = "DatePicker" })
       
        <button type="submit" value="Traži" class="btn btn-success">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div> 
}
@using (Html.BeginForm("AutoKreiranje", "Aktivnost", new { bebaID = bebaID }))
{
    <div class=" btn-group-vertical" style="position: inherit">
        <button type="submit" value="Popuni dan" class="btn btn-success" title="Automatsko popunjavanje dana">
            <span class="glyphicon glyphicon-play-circle"></span>
        </button>
    </div>
}

<p>
    @Html.ActionLink("Dodaj novu aktivnost", "Create", new { bebaID = ViewBag.BebaID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Datum", "Index", new {bebaID = ViewBag.BebaID, sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trajanje)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TrajanjeOd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrajanjeDo)
        </th>*@
        <th>
            @Html.ActionLink("Cijena", "Index", new { bebaID = ViewBag.bebaID, sortOrder = ViewBag.CijenaSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Beba.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrstaAkt.Vrsta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trajanje)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TrajanjeOd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrajanjeDo)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beba.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrstaAkt.Vrsta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
@section scripts {
    <script type="text/javascript">
        $(function () {

            $('.DatePicker').datetimepicker({
                locale: 'hr',
               
                format: 'L',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top'
            });
           
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}